---
title: Welcome
description: Welcome to the Oratory of Saints Philomena and Cecilia, an Apostolate of the Priestly Fraternity of St. Peter, located in Brookville, IN 
---
<section class="hero homepage-hero">
	<div class="text-container">
		<h2>An Apostolate of the Priestly Fraternity of St. Peter</h2>
		<p class="subtext">
			Brookville, IN
		</p>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<div class="calendar">
					<div class="calendar-header">
						<h2>MASS TIMES</h2>
						<small>*Confession 30 minutes prior to each Mass</small>
					</div>
					<div class="calendar-body">
						<div class="calendar-weekdays">
							<div>Sun</div>
							<div>Mon</div>
							<div>Tue</div>
							<div>Wed</div>
							<div>Thu</div>
							<div>Fri</div>
							<div>Sat</div>
						</div>
						<div class="calendar-content">
							<div>
								<strong>&nbsp; 8am</strong> Low Mass<br />
								<strong>10:30</strong> Sung Mass
							</div>
							<div>
								<strong>8am</strong> Low Mass
							</div>
							<div>
								<strong>8am</strong> Low Mass
							</div>
							<div>
								<strong>Noon</strong> Low Mass
							</div>
							<div>
								<strong>8am</strong> Low Mass
							</div>
							<div>
								<strong>6:30pm</strong> Low Mass
							</div>
							<div>
								<strong>8am</strong> Low Mass
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="d-none"></section>
	<section class="testimonial">
		<div class="container flex">
			<div class="text text-flex-center">
				<h2 class="mb-0">Bulletins</h2>
			</div>
			<div class="image">
				<div>
					{% assign bulletins = site.static_files | where: "bulletin", true  | reverse %}
					{% for bulletin in bulletins %}
						{% assign bulletinParts = bulletin.basename | split: "-" %}
						<a href="{{bulletin.path}}" class="bulletin">
							{% if bulletinParts[1] == "01" %}
								<span class="bulletin-head">JAN</span>
							{% endif %}
							{% if bulletinParts[1] == "02" %}
								<span class="bulletin-head">FEB</span>
							{% endif %}
							{% if bulletinParts[1] == "03" %}
								<span class="bulletin-head">MAR</span>
							{% endif %}
							{% if bulletinParts[1] == "04" %}
								<span class="bulletin-head">APR</span>
							{% endif %}
							{% if bulletinParts[1] == "05" %}
								<span class="bulletin-head">MAY</span>
							{% endif %}
							{% if bulletinParts[1] == "06" %}
								<span class="bulletin-head">JUN</span>
							{% endif %}
							{% if bulletinParts[1] == "07" %}
								<span class="bulletin-head">JUL</span>
							{% endif %}
							{% if bulletinParts[1] == "08" %}
								<span class="bulletin-head">AUG</span>
							{% endif %}
							{% if bulletinParts[1] == "09" %}
								<span class="bulletin-head">SEP</span>
							{% endif %}
							{% if bulletinParts[1] == "10" %}
								<span class="bulletin-head">OCT</span>
							{% endif %}
							{% if bulletinParts[1] == "11" %}
								<span class="bulletin-head">NOV</span>
							{% endif %}
							{% if bulletinParts[1] == "12" %}
								<span class="bulletin-head">DEC</span>
							{% endif %}
							<span class="bulletin-body">{{ bulletinParts[2] }}</span>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
					<p class="editable author">Jim James - CEO of Global Corp.</p>
				</blockquote>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Improve</strong> your sales process today</h2>
		<div class="button alt"><a href="#">Get Started Free</a></div>
	</section>
</div>
